In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [20]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [19]:
# 한글 문제
# matplotlit의 기본 폰트에서 한글 지원되지 않기 때문에
# matplotlib의 폰트 변경 필요
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')

In [23]:
df = pd.read_excel("C:/Users/USER/data_semi_project/project/services_priority.xlsx")

In [40]:
type(df['연령대'][1])

numpy.int64

In [24]:
for i in range(300):
    if (df.loc[i, '자치구'] == '강남구') & (df.loc[i, '성별'] == 'M') & (df.loc[i, '연령대'] == 20):
        target = df.loc[[i]]

target

,Unnamed: 0,자치구,연령대,성별,1,2,3,4,5,6,7
1,1,강남구,20,M,게임 서비스,유튜브,넷플릭스,동영상/방송 서비스,배달 서비스,금융 서비스,쇼핑 서비스

In [25]:
service_data = target.iloc[:, 4:]
service_data

        1    2     3           4       5       6       7
1  게임 서비스  유튜브  넷플릭스  동영상/방송 서비스  배달 서비스  금융 서비스  쇼핑 서비스

In [33]:
services = []
values = []
for i, (service, value) in enumerate(service_data.items(), start=1):
    value = value.loc[1]
    services.append(f'{i}순위: {value}')  # 순위를 추가하여 출력
    values.append(value)

services

['1순위: 게임 서비스',
 '2순위: 유튜브',
 '3순위: 넷플릭스',
 '4순위: 동영상/방송 서비스',
 '5순위: 배달 서비스',
 '6순위: 금융 서비스',
 '7순위: 쇼핑 서비스']